extends layout
block mainContent
    .grid-row
      #header-404
        a
          | oh no! it’s a
      #block-404
        #block-404-substrate
        #block-404-icon
      #text-404
        .wpb_row.vc_row-fluid
          // Full width column
          .vc_span12.wpb_column.column_container
            .wpb_wrapper
              .wpb_text_column.wpb_content_element
                .wpb_wrapper
                  h1
                    | Looks like the page you are looking for does not exists
                  | 												If you come here from a bookmark, please remember to update your bookmark
          // / Full width column
      #button-404
        a.wpb_button.wpb_wpb_button.wpb_btn-arrow-right.wpb_regularsize(href='index.html') go back to home page
