extends layout
block pageTitle
  section.page-title
    .grid-row.clearfix
      h1 LIÊN HỆ
block mainContent
  main.page-content
    .grid-row
      // map
      section.map
        .widget-title Địa chỉ: 10G3, Đường Nguyễn Thái Học, Phường xx, Thành Phố Vũng Tàu
        #map.google-map
      // / map
    .grid-row
      .grid-col.grid-col-9
        // feedback
        article.feedback
          .widget-title Phản hồi
          p
            | Chúng tôi luôn tìm cách để cải thiện dịch vụ và muốn nghe ý kiến từ bạn. Hãy cho chúng tôi biết bạn thích điều gì, không thích điều gì hoặc gặp những khó khăn nào.
          form#contactform(action="php/contact-send.php")
            fieldset
              .clearfix
                .input
                  label Họ tên:
                  input(type="text", name="name")
                .input
                  label Email:
                  input(type="text", name="email")
              .clearfix
                .input
                  label Số điện thoại:
                  input(type="text", name="phone")
                .input
                  label Tiêu đề:
                  input(type="text", name="subject")
              label Nội dung:
              textarea(rows="6", name="message")
              .clearfix.captcha

                button.button(type="submit", value="Submit") Gửi
        // / feedback
      .grid-col.grid-col-3
        // contacts
        section.widget.widget-contacts
          .widget-title Chi tiết
          dl
            dt.opened Nha Khoa Á  Châu
            dd
              ul
                li
                  i.fa.fa-map-marker
                  | 10G3, Nguyễn Thái Học, Phường x, Tp Vũng Tàu
                li
                  i.fa.fa-phone
                  | ĐT: 0909 xxx xxx
                li
                  i.fa.fa-envelope
                  | E-mail: xxxxx@domain.com
            dt Đối tác 1
            dd
              ul
                li
                  i.fa.fa-map-marker
                  | 365 Montauk Avenue
                li
                  i.fa.fa-phone
                  | Call us: 203-284-2818
                li
                  i.fa.fa-envelope
                  | E-mail: clinico@domain.com
            dt Cơ sở 2
            dd
              ul
                li
                  i.fa.fa-map-marker
                  | 365 Montauk Avenue
                li
                  i.fa.fa-phone
                  | Call us: 203-284-2818
                li
                  i.fa.fa-envelope
                  | E-mail: clinico@domain.com

        // / contacts
        // follow
        section.widget.widget-follow
          ul
            li
              a(href="#")
                i.fa.fa-rss
                | 150
                br
                | Subscribers
            li
              a(href="#")
                i.fa.fa-facebook
                | 5560
                br
                | Fans
            li
              a(href="#")
                i.fa.fa-twitter
                | 2300
                br
                | Followers
        // / follow
