extends layout
block mainContent
      // slider
      .slider-wrapper
        section#slider.slider
          .ls-slide(data-ls='transition2d:9;slidedelay:7000;')
            img.ls-bg(src='pic/medical-slide-1.jpg', alt='')
            .intro.ls-l(data-ls='offsetyin:top;offsetxin:0;durationin:2000;offsetyout:bottom;offsetxout:0;durationout:1000;', style='left:80%;top:35%;')
              span.icon.fa.fa-heart
              h2
                span SYMPTOM
                | CHECKER
              p Vestibulum rutrum luctus porta. Maecenas elit nibh
              .buttons
                a.prev(href='#')
                  i.fa.fa-angle-left
                //
                a.button(href='#') Read More
                //
                a.next(href='#')
                  i.fa.fa-angle-right
          .ls-slide(data-ls='transition2d:40;slidedelay:7000;')
            img.ls-bg(src='pic/medical-slide-2.jpg', alt='')
            .intro.ls-l(data-ls='scalexin:0.3;scaleyin:0.3;rotatexin:180;offsetxin:0;durationin:2000;durationout:2000;scalexout:2;scaleyout:2;offsetxout:0;fadeout:true;showuntil:3000;', style='left:80%;top:35%;')
              span.icon.fa.fa-comments
              h2
                span HELP
                | ONLINE
              p Vestibulum rutrum luctus porta. Maecenas elit nibh
              .buttons
                a.prev(href='#')
                  i.fa.fa-angle-left
                //
                a.button(href='#') Read More
                //
                a.next(href='#')
                  i.fa.fa-angle-right
          .ls-slide(data-ls='transition2d:11;slidedelay:7000;')
            img.ls-bg(src='pic/medical-slide-3.jpg', alt='')
            .intro.ls-l(data-ls='skewxin:30;skewyin:0;offsetxin:right;fadein:false;durationin:2000;durationout:1000;offsetxout:right;offsetyout:0;fadeout:true;', style='left:80%;top:35%;')
              span.icon.fa.fa-flask
              h2
                span LAB
                | TESTING
              p Vestibulum rutrum luctus porta. Maecenas elit nibh
              .buttons
                a.prev(href='#')
                  i.fa.fa-angle-left
                //
                a.button(href='#') Read More
                //
                a.next(href='#')
                  i.fa.fa-angle-right
      // / slider
      // page content
      main.page-content
        .grid-row
          // benefits
          section.benefits
            ul
              li
                .pic
                  i.fa.fa-hospital-o
                .text
                  h2 Giới thiệu
                  p Aliquam ut lorem scelerisque, consequat mi quis, scelerisque massa.
                  a.more(href='#')
              li
                .pic
                  i.fa.fa-thumbs-o-up
                .text
                  h2 Tin cậy
                  p
                    | Cum sociis natoque penatibus et magnis dis parturient liquam montes liquam montes.
                  a.more(href='#')
              li
                .pic
                  i.fa.fa-heart
                .text
                  h2 Hiệu quả
                  p Suspendisse mattis tristique libero at placerat. Nullam diam risus.
                  a.more(href='#')
              li
                .pic
                  i.fa.fa-usd
                .text
                  h2 Giá tốt nhất
                  p Nha khoa Á Châu hợp tác cùng các đối tác luôn có những chương trình ưu đãi tốt nhất cho bạn và gia đình. Xem chi tiết tại:...
                  a.more(href='#')
          // / benefits
        .grid-row
          // services
          section.services
            ul
              li
                a.pic
                  i.fa.fa-leaf
                h2
                  a(href='#') Transplant Services
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit laoreet. Cras pharetra dolor vitae malesuada facilisis.
                a.more.fa.fa-long-arrow-right(href='#')
              li
                a.pic
                  i.fa.fa-user-md
                .text
                  h2
                    a(href='#') Qualified Doctors
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit laoreet. Cras pharetra dolor vitae malesuada facilisis.
                  a.more.fa.fa-long-arrow-right(href='#')
              li
                a.pic
                  i.fa.fa-clock-o
                h2
                  a(href='#') 24 Hours Service
                p
                  | Mauris consectetur, dui eget ullamcorper hendrerit, eros ligula consectetur dui, vitae adipiscing nunc enim eu justo. Donec quis mollis neque. Pellentesque facilisis.
                a.more.fa.fa-long-arrow-right(href='#')
              li
                a.pic
                  i.fa.fa-ambulance
                .text
                  h2
                    a(href='#') Emergency Departments
                  p
                    | Fusce pellentesque lectus quis placerat ultrices. Nunc malesuada est vitae urna laoreet porta. Donec cursus tellus libero, non porttitor felis luctus ut.
                  a.more.fa.fa-long-arrow-right(href='#')
          // / services
        .grid-row
          // doctors carousel
          section.widget.doctors-carousel.doctors
            .widget-title Our Doctors
            #doctors-carousel.owl-carousel
              .item
                .pic
                  img(src='pic/doctor-1.jpg', width='270', height='270', alt='Dr. Butcher House')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Butcher House
                p Ophthomologist
              .item
                .pic
                  img(src='pic/doctor-2.jpg', width='270', height='270', alt='Dr. Brick Wall')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Brick Wall
                p Dermatologist
              .item
                .pic
                  img(src='pic/doctor-3.jpg', width='270', height='270', alt='Dr. Sno White')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Sno White
                p Neorologist
              .item
                .pic
                  img(src='pic/doctor-4.jpg', width='270', height='270', alt='Dr. Mangle Taleebin')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Mangle Taleebin
                p Surgeon
              .item
                .pic
                  img(src='pic/doctor-2.jpg', width='270', height='270', alt='Dr. Brick Wall')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Brick Wall
                p Dermatologist
              .item
                .pic
                  img(src='pic/doctor-4.jpg', width='270', height='270', alt='Dr. Mangle Taleebin')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Mangle Taleebin
                p Surgeon
              .item
                .pic
                  img(src='pic/doctor-3.jpg', width='270', height='270', alt='Dr. Sno White')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Sno White
                p Neorologist
              .item
                .pic
                  img(src='pic/doctor-1.jpg', width='270', height='270', alt='Dr. Butcher House')
                  .links
                    ul
                      li
                        a.fa.fa-skype(href='#')
                      li
                        a.fa.fa-twitter(href='#')
                      li
                        a.fa.fa-facebook(href='#')
                h3
                  a(href='staff-page.html') Dr. Butcher House
                p Ophthomologist
          // / doctors carousel
        .grid-row
          .grid-col.grid-col-4
            // departments
            section.widget.widget-departments
              .widget-title Departments
              dl
                dt
                  i.fa.fa-medkit
                  | Primary Health Care
                dd
                  | Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus.
                  br
                  a(href='timetable-week.html')
                    i.soc-icon.fa.fa-clock-o
                    |  TIMETABLE
                dt
                  i.fa.fa-user-md
                  | Gynaecological Clinic
                dd
                  | Donec lacinia suscipit magna, et pulvinar tortor facilisis quis. Donec tempor erat vel scelerisque posuere.
                  br
                  a(href='timetable-week.html')
                    i.soc-icon.fa.fa-clock-o
                    |  TIMETABLE
                dt
                  i.fa.fa-stethoscope
                  | Diagnosis With Precise
                dd
                  | Nam elementum elit eget  tellus faucibus euismod. Aliquam turpis nibh, dictum eu consequat ac, facilisis eu elit. Pellentesque pellentesque orci quam, nec tempus nibh congue ut.
                  br
                  a(href='timetable-week.html')
                    i.soc-icon.fa.fa-clock-o
                    |  TIMETABLE
                dt
                  i.fa.fa-heart
                  | Cardiac Clinic
                dd
                  | Nulla nec rutrum tortor, in fermentum nisl.accumsan pulvinar scelerisque tincidunt, adipiscing eget risus.
                  br
                  a(href='timetable-week.html')
                    i.soc-icon.fa.fa-clock-o
                    |  TIMETABLE
                dt
                  i.fa.fa-scissors
                  | General Surgery
                dd
                  | Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar. Urna, quis facilisis magna dolor ac lacus.
                  br
                  a(href='timetable-week.html')
                    i.soc-icon.fa.fa-clock-o
                    |  TIMETABLE
                dt.opened
                  i.fa.fa-wheelchair
                  | Rehabilitation Studio
                dd
                  | Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar. Urna, quis facilisis magna dolor ac lacus.
                  br
                  a(href='timetable-week.html')
                    i.soc-icon.fa.fa-clock-o
                    |  TIMETABLE
            // / departments
          .grid-col.grid-col-4
            // sevices
            section.widget.widget-sevices
              .widget-title Our Medical Services
              ul
                li
                  i.fa.fa-bookmark
                  a(href='#')
                    i.fa.fa-angle-right
                    | Cardiothoracic Surgery
                li
                  i.fa.fa-bookmark
                  a(href='#')
                    i.fa.fa-angle-right
                    | Cardiovascular Diseases
                li
                  i.fa.fa-bookmark
                  a(href='#')
                    i.fa.fa-angle-right
                    | Ophthalmology
                li
                  i.fa.fa-bookmark
                  a(href='#')
                    i.fa.fa-angle-right
                    | Dermatology
                li
                  i.fa.fa-bookmark
                  a(href='#')
                    i.fa.fa-angle-right
                    | General Surgery
                li
                  i.fa.fa-bookmark
                  a(href='#')
                    i.fa.fa-angle-right
                    | Consultative & Diagnostic
            // / sevices
          .grid-col.grid-col-4
            // appointment
            section.widget.widget-appointment
              .widget-title Đặt lịch khám
              form#contactform(action='contact-send')
                fieldset
                  .row
                    input(type='text', placeholder='Full Name', name='name')
                    i.fa.fa-user
                  .row
                    input(type='tel', placeholder='Phone Number', name='phone')
                    i.fa.fa-phone
                  .row
                    input(type='email', placeholder='Email Address', name='email')
                    i.fa.fa-envelope
                  .row
                    input(type='text', placeholder='Appointment Date', name='date')
                    i.fa.fa-calendar
                  .row
                    textarea(cols='30', rows='5', placeholder='Message', name='message')
                    i.fa.fa-align-left
                  .clearfix.captcha
                    button.button(type='submit', value='Submit') Send Message
                   
            // / appointment
      // / page content
      // page footer