doctype html
html
  head
    title NHA KHOA Á CHÂU
    // metas
    meta(charset='utf-8')
    meta(name='author', content='http://themeforest.net/user/CreativeWS/portfolio')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    // / metas
    // styles
    link(rel='stylesheet', type='text/css', href='css/layerslider.css')
    link(rel='stylesheet', type='text/css', href='css/fullwidth/skin.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='css/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.css')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='stylesheet', type='text/css', href='css/color-blue.css')
    link(rel='stylesheet', type='text/css', href='tuner/css/styles.css')
    link(rel='stylesheet', type='text/css', href='css/my_styles.css')
    // / styles
    //if lt IE 9
      script(src='js/html5.js')
  body
    .page
      // page header
      header.page-header.main-page.sticky
        .sticky-wrapp
          .sticky-container
            // logo
            section#logo.logo
              div
                a(href='index.html')
                  img(src='img/blue/logo.png', alt='Clinico')
            // / logo
            // main nav
            nav.main-nav
              ul
                li
                  a(class=(active === "home" ? "active" :undefined),href='/')
                    i.fa.fa-plus
                    | Trang chủ
                li
                  a(class=(active === "pricing" ? "active" :undefined),href='/bang-gia')
                    i.fa.fa-plus
                    | Chi phí
                li
                  a(class=(active === "services" ? "active" :undefined),href='/dich-vu')
                    i.fa.fa-plus
                    | Dịch vụ
                li
                  a(class=(active === "photos" ? "active" :undefined),href='/hinh-anh')
                    i.fa.fa-plus
                    | Hình ảnh
                li.right
                  a(class=(active === "contacts" ? "active" :undefined),href='/lien-he')
                    i.fa.fa-plus
                    | Liên hệ
            // mobile nav
            nav#mobile-main-nav.mobile-main-nav
              i.fa.fa-bars
              a.opener(href='#') Mục
              ul
                li
                  a(class=(active === "home" ? "active" :undefined),href='/') Trang chủ
                li
                  a(class=(active === "pricing" ? "active" :undefined),href='/bang-gia') Chi phí
                li
                  a(class=(active === "services" ? "active" :undefined),href='/dich-vu') Dịch vụ
                li
                  a(class=(active === "photos" ? "active" :undefined),href='/hinh-anh') Hình ảnh
                li
                  a(class=(active === "contacts" ? "active" :undefined),href='/lien-he') Liên hệ

      // page title
      block pageTitle
      // / page title


      #page-wrapper
        block mainContent


      // page footer
      footer.page-footer
        a#top-link.top-link(href='#')
          i.fa.fa-angle-double-up
        .grid-row

          .grid-col.grid-col-4
            // location
            section.widget-alt.location
              .widget-icon
              .widget-title Giới thiệu
              p(style="text-align: justify") Được chính thức thành lập tại Thành Phố Vũng Tàu từ năm 2009 với mục đích hoạt động: Mang lại sự khỏe đẹp về răng miệng cho khách hàng.
              ul
                li
                  i.fa.fa-phone
                  | (907) 555-55555
                li
                  i.fa.fa-at @
                  | company@youremail.com
                li
                  i.fa.fa-skype
                  | Medical Skype Name
              nav
                a.fa.fa-twitter(href='#')
                a.fa.fa-facebook(href='#')
                a.fa.fa-instagram(href='#')

          
          .grid-col.grid-col-4
            // last news
            section.widget-alt.recent-posts
              .widget-icon
              .widget-title Tin tức
              ul
                li
                  a(href='#')
                    img(src='pic/post/1.png', width='80', height='80', alt='')
                  p
                    a(href='#') New study links lutein with eye health benefits, consectetur adipiscing
                    br
                    | 5 months ago
                li
                  a(href='#')
                    img(src='pic/post/2.png', width='80', height='80', alt='')
                  p
                    a(href='#') Pets may reduce risk of heart disease, et congue dolor heart
                    br
                    | 8 months ago
                li
                  a(href='#')
                    img(src='pic/post/3.png', width='80', height='80', alt='')
                  p
                    a(href='#') Discoveries offer a new explanation for diabetes, consectetur
                    br
                    | 10 months ago
            // / last news
          .grid-col.grid-col-3
            // work time
            section.widget-alt.work-time
              .widget-icon
              dl
                dt Mon
                dd 08:00 am - 12:00 pm
                dt Tue
                dd 01:00 am - 05:00 pm
                dt Wed
                dd Free day
                dt Thu
                dd 08:00 am - 12:00 pm
                dt Fri
                dd 08:00 am - 12:00 pm
                dt Sat
                dd 08:00 am - 12:00 pm
                dt Sun
                dd Free day
              a.button(href='#') Đặt lịch khám
            // / work time
      // / page footer
      // copyrights
      .copyrights Copyrights ©2015 - Nha Khoa Á Châu Vũng Tàu
      // / copyrights
    // scripts
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/jquery-ui.min.js')
    script(type='text/javascript', src='js/jquery.migrate.min.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    script(type='text/javascript', src='js/jquery.fancybox.pack.js')
    script(type='text/javascript', src='js/jquery.fancybox-media.js')
    script(type='text/javascript', src='js/jquery.flot.js')
    script(type='text/javascript', src='js/jquery.flot.pie.js')
    script(type='text/javascript', src='js/jquery.flot.categories.js')
    script(type='text/javascript', src='js/greensock.js')
    script(type='text/javascript', src='js/layerslider.transitions.js')
    script(type='text/javascript', src='js/layerslider.kreaturamedia.jquery.js')
    // Superscrollorama
    script(type='text/javascript', src='js/jquery.superscrollorama.js')
    script(type='text/javascript', src='js/TweenMax.min.js')
    script(type='text/javascript', src='js/TimelineMax.min.js')
    // / Superscrollorama
    script(type='text/javascript', src='js/jquery.ui.core.min.js')
    script(type='text/javascript', src='js/jquery.ui.widget.min.js')
    script(type='text/javascript', src='js/jquery.ui.tabs.min.js')
    script(type='text/javascript', src='js/jquery-ui-tabs-rotate.js')
    script(type='text/javascript', src='js/jquery.ui.accordion.min.js')
    script(type='text/javascript', src='js/jquery.tweet.js')
    // EASYPIECHART
    script(type='text/javascript', src='js/jquery.easypiechart.js')
    // / EASYPIECHART
    script(type='text/javascript', src='js/jquery.autocomplete.min.js')
    script(type='text/javascript', src='js/scripts.js')
    // / scripts
    // tuner
    script(src='tuner/js/scripts.js')
    #tuner.tuner
      label Theme Colors
      ul.colors
        li.color-blue.active(data-color='blue')
          span
        li.color-green(data-color='green')
          span
        li.color-pink(data-color='pink')
          span
        li.color-cyan(data-color='cyan')
          span
        li.color-orange(data-color='orange')
          span
        li.color-purple(data-color='purple')
          span
      label Layout Styles
      ul.layouts
        li(data-layout='boxed') Boxed
        li.active(data-layout='widescreen') Widescreen
      i#tuner-switcher.fa.fa-cogs
    //tuner
