extends layout
block pageTitle
  section.page-title
    .grid-row.clearfix
      h1 HÌNH ẢNH
block mainContent
  main.page-content
    .grid-row
      .grid-col.grid-col-9
        // photo tour
        section#photo-tour.widget.photo-tour.photo-tour-1
          .grid
            .item.item2
              .pic
                img(src="pic/photo-tour-1.jpg", width="870", height="458", alt="Nullam euismod commodo")
                .links
                  ul
                    li
                      a.fa.fa-link(href="#")
              h3 Nullam euismod commodo
              p Pellentesque habitant morbi
            .item.item1
              .pic
                img(src="pic/photo-tour-2.jpg", width="870", height="458", alt="Commodo purus sit amet")
                .links
                  ul
                    li
                      a.fa.fa-eye.fancybox(href="pic/photo-tour-2.jpg")
              h3 Commodo purus sit amet
              p Pellentesque habitant morbi
            .item.item3
              .pic
                img(src="pic/photo-tour-3.jpg", width="870", height="458", alt="Quisque venenatis mi at")
                .links
                  ul
                    li
                      a.fa.fa-video-camera.fancybox(href="http://player.vimeo.com/video/44510157?color=ffffff", data-fancybox-type="iframe")
              h3 Quisque venenatis mi at
              p Proin nec lectus lectus. Nunc odio
          a.button.more(href="#", data-template="photo-one", data-page="2")
            i.fa.fa-refresh
            | Load more
        // / photo tour
      .grid-col.grid-col-3
        
        // categories
        section.widget.widget-sevices
          .widget-title Categories
          ul
            li
              i.fa.fa-bookmark
              a(href="#")
                i.fa.fa-angle-right
                | Cardiothoracic Surgery
            li
              i.fa.fa-bookmark
              a(href="#")
                i.fa.fa-angle-right
                | Cardiovascular Diseases
            li
              i.fa.fa-bookmark
              a(href="#")
                i.fa.fa-angle-right
                | Ophthalmology
            li
              i.fa.fa-bookmark
              a(href="#")
                i.fa.fa-angle-right
                | Dermatology
            li
              i.fa.fa-bookmark
              a(href="#")
                i.fa.fa-angle-right
                | General Surgery
            li
              i.fa.fa-bookmark
              a(href="#")
                i.fa.fa-angle-right
                | Consultative &#38; Diagnostic
        // / categories


        // follow
        section.widget.widget-follow
          ul
            li
              a(href="#")
                i.fa.fa-rss
                | 150
                br
                | Subscribers
            li
              a(href="#")
                i.fa.fa-facebook
                | 5560
                br
                | Fans
            li
              a(href="#")
                i.fa.fa-twitter
                | 2300
                br
                | Followers
        // / follow
