extends layout
block pageTitle
  section.page-title
    .grid-row.clearfix
      h1 BẢNG GIÁ
block mainContent
  main.page-content
    .grid-row
      .grid-col.grid-col-5
        // philosophy
        section.widget
          .widget-title Bảng giá dịch vụ
          .wpb_text_column.wpb_content_element
            .wpb_wrapper
              table.pricing-table(align="center", border-collapse=collapse)
                tbody
                  tr.pricing-two-column
                    td KHÁM - CHỤP PHIM - TƯ VẤN
                    td MIỄN PHÍ
                  tr.pricing-one-column
                    td(align="center", colspan=2) IMPLANT
                  tr.pricing-two-column
                    td IMPLANT
                    td 21.500.000 - 25.500.000 VND
                  tr.pricing-one-column
                    td(align="center", colspan=2) NHA CHU
                  tr.pricing-two-column
                    td Cạo vôi
                    td 200.000 - 400.000 VND
                  tr.pricing-two-column
                    td Thổi vết dính + đánh bóng
                    td 200.000 - 400.000 VND
                  tr.pricing-two-column
                    td Nạo túi nha chu
                    td 150.000 VND/R
                  tr.pricing-two-column
                    td Phẫu thuật nha chu
                    td 2.000.000 VND/phần hàm
                  tr.pricing-one-column
                    td(align="center", colspan=2) RĂNG SỨ
                  tr.pricing-two-column
                    td Răng kim loại
                    td 1.000.000 VND / 1 đơn vị
                  tr.pricing-two-column
                    td Răng sứ Ni-Cr, Sứ Cercon, Sứ Kim Loại Quý…….
                    td 1.200.000 - 8.000.000 VND/ R
                  tr.pricing-one-column
                    td(align="center", colspan=2) MÁNG NHỰA
                  tr.pricing-two-column
                    td Nhựa mềm
                    td 1.000.000 VND
                  tr.pricing-two-column
                    td Nhựa cứng
                    td 2.000.000 VND
                  tr.pricing-one-column
                    td(align="center", colspan=2) RĂNG GiẢ ( HÀM THÁO LẮP)
                  tr.pricing-two-column
                    td Răng nhựa
                    td 500.000 VND/ R
                  tr.pricing-two-column
                    td Hàm nhựa
                    td Từ 2.000.000 VND
                  tr.pricing-two-column
                    td Hàm khung
                    td 1.500.000 - 4.000.000 VND
                  tr.pricing-one-column
                    td(align="center", colspan=2) NHỔ RĂNG
                  tr.pricing-two-column
                    td Nhổ thường
                    td 300.000 - 600.000 VND / 1 R
                  tr.pricing-two-column
                    td Nhổ tiểu phẫu
                    td 700.000 - 2.000.000 VND / 1R




        // / philosophy
      .grid-col.grid-col-4
        // departments
        section.widget.widget-departments
          .widget-title Popular Procedures
          dl
            dt.opened
              i.fa.fa-check
              | Primary Health Care
            dd
              | Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus.
            dt
              i.fa.fa-check
              | Gynaecological Clinic
            dd
              | Donec lacinia suscipit magna, et pulvinar tortor facilisis quis. Donec tempor erat vel scelerisque posuere.
            dt
              i.fa.fa-check
              | Diagnosis With Precise
            dd
              | Nam elementum elit eget  tellus faucibus euismod. Aliquam turpis nibh, dictum eu consequat ac, facilisis eu elit. Pellentesque pellentesque orci quam, nec tempus nibh congue ut.
            dt
              i.fa.fa-check
              | Cardiac Clinic
            dd
              | Nulla nec rutrum tortor, in fermentum nisl.accumsan pulvinar scelerisque tincidunt, adipiscing eget risus.
            dt
              i.fa.fa-check
              | General Surgery
            dd
              | Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar. Urna, quis facilisis magna dolor ac lacus.
            dt
              i.fa.fa-check
              | Rehabilitation Studio
            dd
              | Sed purus purus, tincidunt eget malesuada et, molestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur, ligula tellus pulvinar. Urna, quis facilisis magna dolor ac lacus.
        // / departments
      hr
    .grid-row
      // callout
      .callout.wpb_content_element
        .icon
          i.fa.fa-user-md
        .callout-wrapper
          .callout-content
            .title Clinico strives to provide a high standard
            .subtitle
              | Morbi justo dolor, auctor non ornare quis, bibendum ut nibh. Duis aute irure dolor in reprehenderit.
          .callout-button
            a.button(href="#") Đặt lịch khám
      // / callout
    .grid-row
      // doctors carousel
      section.widget.doctors-carousel.doctors
        .widget-title Our Doctors
        #doctors-carousel.owl-carousel
          .item
            .pic
              img(src="pic/doctor-1.jpg", width="270", height="270", alt="Dr. Butcher House")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Butcher House
            p Ophthomologist
          .item
            .pic
              img(src="pic/doctor-2.jpg", width="270", height="270", alt="Dr. Brick Wall")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Brick Wall
            p Dermatologist
          .item
            .pic
              img(src="pic/doctor-3.jpg", width="270", height="270", alt="Dr. Sno White")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Sno White
            p Neorologist
          .item
            .pic
              img(src="pic/doctor-4.jpg", width="270", height="270", alt="Dr. Mangle Taleebin")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Mangle Taleebin
            p Surgeon
          .item
            .pic
              img(src="pic/doctor-2.jpg", width="270", height="270", alt="Dr. Brick Wall")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Brick Wall
            p Dermatologist
          .item
            .pic
              img(src="pic/doctor-4.jpg", width="270", height="270", alt="Dr. Mangle Taleebin")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Mangle Taleebin
            p Surgeon
          .item
            .pic
              img(src="pic/doctor-3.jpg", width="270", height="270", alt="Dr. Sno White")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Sno White
            p Neorologist
          .item
            .pic
              img(src="pic/doctor-1.jpg", width="270", height="270", alt="Dr. Butcher House")
              .links
                ul
                  li
                    a.fa.fa-skype(href="#")
                  li
                    a.fa.fa-twitter(href="#")
                  li
                    a.fa.fa-facebook(href="#")
            h3 Dr. Butcher House
            p Ophthomologist
      // / doctors carousel

