extends layout
block pageTitle
  section.page-title
    .grid-row.clearfix
      h1 DỊCH VỤ
block mainContent
  main.page-content
  .grid-row
    // news
    section#news.widget.news.news-3
      .grid
        .item
          h3
            a(href="#") Nha khoa Tổng Quát
          .date
            | 20 AUG 2014
            i.fa.fa-comment
              span 3
          .pic
            img(src="pic/photo-tour-1.jpg", alt="Nullam euismod commodo")
            .links
              ul
                li
                  a.fa.fa-plus(href="#")
          p
            | Mauris vitae quam quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer ullamcorper ultricies eros eu consequat. Nullam convallis volutpat nunc, gravida vestibulum mauris interdum et. Nunc tristique eros nec dictum blandit. Cras eu turpis augue. Ut non molestie nulla. Nulla nec rutrum tortor, in fermentum nisl
            a(href="#") &#8594;
          .cats
            | Posted in:
            a(href="#") Dental Clinic
            | ,
            a(href="#") General
            | ,
            a(href="#") News
        .item
          h3
            a(href="#") Trám răng
          .date
            | 18 AUG 2014
            i.fa.fa-comment
              span 4
          .video
            iframe(src="http://player.vimeo.com/video/44510157?color=ffffff", allowfullscreen="")
          p
            | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam venenatis consectetur sem, eget luctus eros. Sed massa arcu, tincidunt eget augue at, condimentum feugiat ante. Nullam eleifend aliquam magna
            a(href="#") &#8594;
          .cats
            | Posted in:
            a(href="#") Dental Clinic
            | ,
            a(href="#") General
            | ,
            a(href="#") News
        .item
          h3
            a(href="#") Điều trị tủy
          .date
            | 15 AUG 2014
            i.fa.fa-comment
              span 1
          p
            | Aliquam venenatis consectetur sem, eget luctus eros sodales et. Vivamus non metus eget nisl adipiscing congue. Donec placerat, ipsum fringilla cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus orci. Nunc suscipit quis mauris non pellentesque. Cras at augue dui. Vestibulum mollis cursus orci.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus orci. Nunc suscipit quis mauris non pellentesque. Cras at augue dui. Vestibulum mollis cursus orci ut laoreet. Duis accumsan accumsan adipiscing. Mauris tincidunt a lacus nec pretium
            a(href="#") &#8594;
          .cats
            | Posted in:
            a(href="#") Dental Clinic
            | ,
            a(href="#") General
            | ,
            a(href="#") News
        .item
          h3
            a(href="#") Chỉnh hình
          .date
            | 12 AUG 2014
            i.fa.fa-comment
              span 4
          .audio
            audio(controls="", preload="none")
              source(src="audio/californication.mp3", type="audio/mpeg")
          p
            | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam venenatis consectetur sem, eget luctus eros. Sed massa arcu, tincidunt eget augue at, condimentum feugiat ante. Nullam eleifend aliquam magna.
          p
            | Donec placerat, ipsum fringilla cursus vehicula, velit diam tristique magna. Donec placerat, ipsum fringilla cursus vehicula, velit diam tristique magna, vitae sodales urna ante et lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus orci.
          .cats
            | Posted in:
            a(href="#") Dental Clinic
            | ,
            a(href="#") General
            | ,
            a(href="#") News
        .item
          h3
            a(href="#") Implant
          .date
            | 11 AUG 2014
            i.fa.fa-comment
              span 3
          .pic
            img(src="pic/photo-tour-2.jpg", alt="Quisque venenatis mi")
            .links
              ul
                li
                  a.fa.fa-plus(href="#")
          p
            | Mauris vitae quam quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer ullamcorper ultricies eros eu consequat
            a(href="#") &#8594;
          .cats
            | Posted in:
            a(href="#") Dental Clinic
            | ,
            a(href="#") General
            | ,
            a(href="#") News
        .item
          h3
            a(href="#") Răng Trẻ Em
          .date
            | 10 AUG 2014
            i.fa.fa-comment
              span 1
          p
            | Aliquam venenatis consectetur sem, eget luctus eros sodales et. Vivamus non metus eget nisl adipiscing congue. Donec placerat, ipsum fringilla cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus orci. Nunc suscipit quis mauris non pellentesque. Cras at augue dui. Vestibulum mollis cursus orci.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus orci. Nunc suscipit quis mauris non pellentesque. Cras at augue dui. Vestibulum mollis cursus orci ut laoreet. Duis accumsan accumsan adipiscing. Mauris tincidunt a lacus nec pretium
            a(href="#") &#8594;
          .cats
            | Posted in:
            a(href="#") Dental Clinic
            | ,
            a(href="#") General
            | ,
            a(href="#") News
      //a.button.more(href="#", data-template="news-three", data-page="2")
      //  i.fa.fa-refresh
      //  | Load more
    // / photo tour
