table.pricing-table {
    width: 100%;
}

table.pricing-table td{
    text-align:center;
    vertical-align:middle;
    border:1px solid #e3e3e3;
    padding: 2px 0px 2px 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
}


tr.pricing-one-column {
    background-color: #CCCCCC;
}

tr.pricing-one-column td{
    width: 100%;
    font-weight:bold;
}

tr.pricing-two-column td{
    width: 50%;
}


/*Footer css*/

.location p {
    text-align: justify;
    text-indent: 0em;
}